.bg-img {
    background: url("../../resource/images/bg.png") no-repeat 4px 5px;
    /* padding-top: 120px; */
    background-size: 100% 100%;
    width: 90%;
    margin:40px auto 100px;
}


.service-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 50px;

    /* width: 80%;
    padding-top: 80px; */
    margin-left: auto;
    margin-right: auto;
    height: 800px;
}


.search-box {
    margin:30px 100px;
}

.search-bar {
    margin:30px auto;
}
.result-display {
        font-size: 15px;
}

.upload-box {
    margin: 50px 100px;
}


.submit-button {
    padding-left:70px;

}


