@import '~antd/dist/antd.css';


#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.login-button {
  position: absolute;
  right:150px;
  color:rgb(55, 54, 54);
}

.register-button {
  position: absolute;
  right:100px;
  color:rgb(55, 54, 54);
}

.phone-icon {
  position: absolute;
  right:50px;
}

.login-button:hover{ 
  color:rgb(116, 113, 113);
}

.register-button:hover{ 
  color:rgb(116, 113, 113);
}

